<p><strong>${0}</strong>: value of dataset first column</p>
<p><strong>${1}</strong> is value of dataset second column</p>
<p>and so on</p>
<p>Example: the dataset:</p>
<p>your username 1,your password 1<br />your username 2, your password 2</p>
<p>Then:</p>
<p>$0 = your username 1/your username 2<br />$1 = your password 1/your password 2</p>
<p>${0} = your username 1/your username 2<br />${1} = your password 1/your password 2</p>
<p>Also support some base name case:</p>
<p>
    ${0.camelCase} = yourUsername1<br />
    ${0.pascalCase} = YourUsername1<br />
    ${0.kebabCase} = your-username-1<br />
    ${0.snakeCase} = your_username_1<br />
    ${0.upperCase} = YOUR USERNAME 1<br />
    ${0.lowerCase} = your username 1<br />
    ${0.constantCase} = YOUR_USERNAME_1</p>